.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: #ffffff;
  width: 1440px;
  height: 1757px;
  position: relative;
  overflow: hidden;
}
.navigation-header {
  background: var(--white, #ffffff);
  padding: 24px 160px 24px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1px;
  overflow: hidden;
}
.logo {
  flex-shrink: 0;
  width: 90px;
  height: 28px;
  position: relative;
  overflow: hidden;
}
.fath {
  color: #000000;
  text-align: left;
  font: var(--title-heading-4, 700 24px "Work Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.menu-links {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  flex-shrink: 0;
  width: 52px;
  height: 30px;
  position: relative;
}
.home2 {
  color: var(--true-gray-700, #404040);
  text-align: left;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.work {
  flex-shrink: 0;
  width: 46px;
  height: 30px;
  position: relative;
}
.portfolio {
  color: var(--true-gray-700, #404040);
  text-align: center;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: absolute;
  left: -23.5px;
  top: 1px;
  width: 102px;
}
.about2 {
  flex-shrink: 0;
  width: 53px;
  height: 30px;
  position: relative;
}
.selected {
  background: var(--true-gray-900, #0c0b0b);
  width: 53px;
  height: 4px;
  position: absolute;
  left: 0px;
  top: 26px;
}
.about3 {
  color: var(--true-gray-900, #0c0b0b);
  text-align: left;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.social {
  background: var(--white, #ffffff);
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-mail {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.hero {
  background: #fed02b;
  width: 1440px;
  height: 327px;
  position: absolute;
  left: 0px;
  top: 80px;
  overflow: hidden;
}
.hello {
  color: var(--true-gray-900, #0c0b0b);
  text-align: left;
  font: var(--title-heading-1, 700 64px "Work Sans", sans-serif);
  position: absolute;
  left: 347px;
  top: 51px;
}
.i-m-yassine-hailing-from-morocco-i-m-a-recent-graduate-of-ningbo-university-with-a-bachelor-s-in-architecture-and-art-design-proud-of-my-moroccan-heritage-i-ve-now-embarked-on-a-new-academic-journey-pursuing-a-master-s-in-industrial-design-engineering-at-zhejiang-university {
  color: var(--true-gray-800, #282828);
  text-align: center;
  font: var(--undefined, 500 18px/28px "Work Sans", sans-serif);
  position: absolute;
  left: 347px;
  top: 126px;
  width: 461px;
}
.i-m-yassine-hailing-from-morocco-i-m-a-recent-graduate-of-ningbo-university-with-a-bachelor-s-in-architecture-and-art-design-proud-of-my-moroccan-heritage-i-ve-now-embarked-on-a-new-academic-journey-pursuing-a-master-s-in-industrial-design-engineering-at-zhejiang-university-span {
  color: var(--true-gray-800, #282828);
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
}
.i-m-yassine-hailing-from-morocco-i-m-a-recent-graduate-of-ningbo-university-with-a-bachelor-s-in-architecture-and-art-design-proud-of-my-moroccan-heritage-i-ve-now-embarked-on-a-new-academic-journey-pursuing-a-master-s-in-industrial-design-engineering-at-zhejiang-university-span2 {
  color: var(--true-gray-800, #282828);
  font: 500 18px/28px "Work Sans", sans-serif;
}
.i-m-yassine-hailing-from-morocco-i-m-a-recent-graduate-of-ningbo-university-with-a-bachelor-s-in-architecture-and-art-design-proud-of-my-moroccan-heritage-i-ve-now-embarked-on-a-new-academic-journey-pursuing-a-master-s-in-industrial-design-engineering-at-zhejiang-university-span3 {
  color: var(--true-gray-800, #282828);
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
}
.rectangle-4 {
  border-style: solid;
  border-color: var(--true-gray-900, #0c0b0b);
  border-width: 4px;
  width: 225px;
  height: 225px;
  position: absolute;
  left: 921px;
  top: 51px;
}
.during-my-undergraduate-years-i-developed-a-wide-range-of-skills-including-visual-communication-3-d-modelling-and-sustainable-design-practices-beyond-academics-i-m-passionate-about-sports-particularly-football-basketball-and-swimming-staying-active-at-the-gym-is-also-a-priority-i-thrive-in-team-settings-and-believe-in-the-power-of-collaboration-to-achieve-collective-goals-looking-forward-to-connecting-and-growing-together-with-all-of-you {
  color: var(--true-gray-800, #282828);
  text-align: center;
  font: 500 18px/30px "Work Sans", sans-serif;
  position: absolute;
  left: 280px;
  top: 456px;
  width: 933px;
}
.a-little-bit-about-me {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--title-heading-3, 700 32px "Work Sans", sans-serif);
  position: absolute;
  left: 350px;
  top: 654px;
}
.my-skills-set {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--title-heading-3, 700 32px "Work Sans", sans-serif);
  position: absolute;
  left: 350px;
  top: 1210px;
}
.item-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 446px;
  top: 724px;
}
.master-s-degree {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-bold, 700 18px/28px "Work Sans", sans-serif);
  position: relative;
}
._2023-present {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
.by-the-end-of-the-year-2023-i-ve-embarked-into-a-new-journey-studying-a-master-s-in-industrial-design-engineering-at-zhejiang-university {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: relative;
  width: 644px;
}
.item-2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 446px;
  top: 872px;
}
.bachelor-s-degree {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-bold, 700 18px/28px "Work Sans", sans-serif);
  position: relative;
}
._2018-2023 {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
._2023-i-finished-my-bachelor-degree-majoring-in-architecture-and-art-design-from-ningbo-university {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: relative;
  width: 644px;
}
.item-4 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 446px;
  top: 1032px;
}
.high-school-degree {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-bold, 700 18px/28px "Work Sans", sans-serif);
  position: relative;
}
._2015-2018 {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
.in-2018-i-ve-graduated-from-salah-eddin-al-ayoubi-high-school-with-a-degree-in-mathematical-sciences {
  color: var(--true-gray-800, #282828);
  text-align: left;
  font: var(--body-regular, 500 18px/28px "Work Sans", sans-serif);
  position: relative;
  width: 644px;
}
.bullet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 350px;
  top: 732px;
  overflow: visible;
}
.bullet2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 350px;
  top: 882px;
  overflow: visible;
}
.bullet3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 350px;
  top: 1036px;
}
.navigation-footer {
  background: var(--white, #ffffff);
  padding: 24px 160px 24px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 1677px;
  box-shadow: inset 0px 1px 0px 0px rgba(229, 229, 229, 1);
  overflow: hidden;
}
.text {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.fath-yassine {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
. {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
.feel-free-to-drop-a-hello-fathyassine-20-gmail-com {
  color: var(--true-gray-500, #737373);
  text-align: left;
  font: var(--secondary-regular, 500 14px/24px "Work Sans", sans-serif);
  position: relative;
}
.social2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-mail2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.icon2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.icon3 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.icon4 {
  position: absolute;
  left: 1251px;
  top: 28px;
  overflow: visible;
}
.frame-3 {
  background: #ffffff;
  width: 879px;
  height: 331px;
  position: absolute;
  left: 306px;
  top: 1284px;
  overflow: hidden;
}
.rhino-icon {
  width: 58px;
  height: 47px;
  position: absolute;
  left: 25px;
  top: 14px;
}
.lumion-icon {
  width: 64px;
  height: 60px;
  position: absolute;
  left: 16px;
  top: 75px;
}
.sketchup-icon {
  width: 46px;
  height: 45px;
  position: absolute;
  left: 25px;
  top: 151px;
}
.revit-icon {
  width: 32px;
  height: 34px;
  position: absolute;
  left: 32px;
  top: 222px;
}
.skill-set-lign {
  width: 307px;
  height: 35px;
  position: absolute;
  left: 91px;
  top: 26px;
}
.rectangle-5 {
  background: #eeeeee;
  border-radius: 30px;
  width: 307px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-6 {
  background: #d77070;
  border-radius: 30px;
  width: 212px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.skill-set-lign-lumion {
  position: absolute;
  left: 91px;
  top: 91px;
  overflow: visible;
}
.skill-set-lign-sketchup {
  position: absolute;
  left: 91px;
  top: 156px;
  overflow: visible;
}
.skill-set-lign-rivet {
  position: absolute;
  left: 91px;
  top: 221px;
  overflow: visible;
}
.skill-set-lign-autocad {
  position: absolute;
  left: 91px;
  top: 287px;
  overflow: visible;
}
.autocad-icon {
  width: 42px;
  height: 43px;
  position: absolute;
  left: 29px;
  top: 279px;
}
.ppt-icon {
  width: 50px;
  height: 49px;
  position: absolute;
  left: 482px;
  top: 19px;
}
.word-icon {
  width: 50px;
  height: 44px;
  position: absolute;
  left: 482px;
  top: 83px;
}
.excel-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 482px;
  top: 141px;
}
.adobe-illustrator {
  width: 50px;
  height: 48px;
  position: absolute;
  left: 482px;
  top: 205px;
}
.pngwing-1 {
  width: 50px;
  height: 41px;
  position: absolute;
  left: 482px;
  top: 274px;
}
.skill-set-lign-ppt {
  position: absolute;
  left: 559px;
  top: 26px;
  overflow: visible;
}
.skill-set-lign-word {
  position: absolute;
  left: 559px;
  top: 87px;
  overflow: visible;
}
.skill-set-lign-excel {
  position: absolute;
  left: 559px;
  top: 148px;
  overflow: visible;
}
.skill-set-lign-adobe-illustrator {
  position: absolute;
  left: 559px;
  top: 211px;
  overflow: visible;
}
.skill-set-lign-adobe-photoshop {
  position: absolute;
  left: 559px;
  top: 277px;
  overflow: visible;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 331px;
  height: 0px;
  position: absolute;
  left: 746px;
  top: 1284px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
